$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';
@import url(http://fonts.googleapis.com/css?family=Denk+One);

body {
    background-color: #174545;
}

header {
    width: 1280px;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    margin-top: 75px;
}

noscript {
    width: 1280px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
    display: block;
}

.container {
    font-family: 'Denk One', sans-serif;
    font-size: 42px;
    width: 1280px;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    color: #fff;
    line-height: 48px;
}

.game {
    display: none;
}

.menu {
    display: none;
    margin-top: 40px;

    button {
        width: 150px;
    }
}

.final-score {
    width: 680px;
    display: none;

    p {
        margin-top: 10px
    }

    button {
        margin-top: 20px;
    }
}

.score {
    margin-bottom: 30px;
    font-size: 14px;
    letter-spacing: 10px;
}

.animal {
    color: yellow;
}

.buttons {
    margin-top: 50px
}

.correct {
    color: #62c462
}

.incorrect {
    color: #ee5f5b
}