$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';
@import url(http://fonts.googleapis.com/css?family=Denk+One);

$break-small: 320px;
$content-width: 1280px;

html, body {
    background-color: #174545;
    height: 100%
}

header {
    width: $content-width;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
}

noscript {
    width: $content-width;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
    display: block;
}

.main {
    padding-top: 75px;
}

.container {
    font-family: 'Denk One', sans-serif;
    font-size: 42px;
    width: $content-width;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    color: #fff;
    line-height: 48px;
}

.game {
    display: none;

    .question {
        padding-left: 10px;
        padding-right: 10px;
    }

    .buttons {
        margin-top: 50px;
    }
}

.menu {
    display: none;
    margin-top: 40px;

    button {
        width: 150px;
    }
}

.final-score {
    width: 680px;
    display: none;

    p {
        margin-top: 10px
    }

    button {
        margin-top: 20px;
    }
}

.score {
    margin-bottom: 30px;
    font-size: 14px;
    letter-spacing: 10px;
}

.animal {
    color: yellow;
}

.correct {
    color: #62c462
}

.incorrect {
    color: #ee5f5b
}

.bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;

    .contact {
        display: inline-block;
        height: 48px;
        width: 48px;
    }
}